#aboutme {
    transition: 0s;
    /*display: "none"; Does't work*/
    pointer-events: none;
    opacity: 0;
}

/* --------------------------------------------------------------------------------- Page 1 */
#aboutme-page1 {
    opacity: 1;
}

#aboutme-page1 > #background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,1)), url(/textures/env_map/guangzhou.jpg);
    background-size: cover;
}

#aboutme-page1 > #aboutme-selfie {
    position: absolute;
    width: calc((37.2vh + 37.2vw)/2);
    left: 5vw;
    top: 12vh;
    border-style: groove;
    border-width: 20px;
    border-color: rgb(0, 0, 0);
}

#aboutme-page1 > h1 {
    position: absolute;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: calc((4.7vh + 4.7vw)/2);
    font-weight: 300;
    left: 45vw;
    top: 10vh;
}

#aboutme-page1 > #self-info {
    position: absolute;
    font-size: calc((1.5vh + 1.5vw)/2);
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 100;
    line-height: calc((3.7vh + 3.7vw)/2);
    left: 45vw;
    top: 25vh;
    margin-right: 70px;
}

#to-page2 {
    position: absolute;
    font-size: calc((3vh + 3vw)/2);
    left: 65vw;
    top: 17.5vh;
    color: rgb(136, 136, 136);
    transition: 0.3s;
}
#to-page2 {
    position: absolute;
    font-size: calc((3vh + 3vw)/2);
    left: 65vw;
    top: 17.5vh;
    color: rgb(136, 136, 136);
}

/* --------------------------------------------------------------------------------- Page 2 */
#aboutme-page2 {
    opacity: 0;
}