#aboutme {
    transition: 0s;
    /*display: "none"; Does't work*/
    pointer-events: none;
    opacity: 0;

    z-index: 1;
}

#scroll-indicator {
    display: flex;
    flex-direction: column;
    height: 40%;
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translateX(-10%) translateY(-50%);
    font-size: calc((4.0vh + 4.0vw)/2);
    z-index: 1;
}
    #scroll-indicator > #scroll-up{
        transition: 0.3s;
    }
        #scroll-indicator > #scroll-up:hover {
            color:blueviolet;
            transform: translateY(-10%);
        }
        #scroll-indicator > #scroll-up:active {
            color:rgb(43, 153, 226);
        }

    #scroll-indicator > #scroll-down {
        position: fixed;
        bottom: 1vh;
        right: 0%;
        transform: translateX(-10%);
        font-size: calc((4.3vh + 4.3vw)/2);
        transition: 0.3s;
    }
        #scroll-indicator > #scroll-down:hover {
            color:blueviolet;
            transform: translateX(-10%) translateY(10%);
        }
        #scroll-indicator > #scroll-down:active {
            color:rgb(43, 153, 226);
            transform: translateX(-10%);
        }

/* --------------------------------------------------------------------------------- Page 1 */
#aboutme-page1 {
    opacity: 1;
    z-index: 1;
}

#aboutme-page1-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,1)), url(/textures/env_map/guangzhou.jpg);
    background-size: cover;
}

#aboutme-page1-selfie {
    position: absolute;
    width: calc((37.2vh + 37.2vw)/2);
    left: 50vw;
    top: 20vh;
    transform: translateX(-50%);
    border-style: groove;
    border-width: 20px;
    border-color: rgb(0, 0, 0);

    z-index: 1;
}

.aboutme-page1-title {
    position: absolute;
    font-family: monospace, Monaco, monospace;
    white-space: nowrap;
    font-size: calc((4.7vh + 4.7vw)/2);
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%);
    top: 7%;

    z-index: 1;
}

#aboutme-page1-info {
    position: absolute;
    font-size: calc((2vh + 2vw)/2);
    font-family: monospace, Monaco, monospace;
    font-weight: 100;
    line-height: calc((3.7vh + 3.7vw)/2);
    left: 5vw;
    top: 70vh;
    margin-right: 5vw;

    z-index: 1;
}

/*
#to-page2 {
    position: absolute;
    font-size: calc((3vh + 3vw)/2);
    left: 65vw;
    top: 15.5%;
    color: rgb(136, 136, 136);
    transition: 0.3s;
}
    #to-page2:hover {
        color: rgb(98, 0, 255);
        cursor: pointer;
        transform: translateX(7px);
    }
*/

/* --------------------------------------------------------------------------------- Page 2 */
#aboutme-page2 {
    position: absolute;
    top: 98vh;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;

    z-index: 1;
}

#aboutme-page2-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,1)), url(/textures/env_map/guangzhou_vil.jpg);
    background-size: cover;
}

.experience-grid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 44vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8vw, 1fr));
    grid-gap: 4vw;
    width: 52vw;

    z-index: 1;
}
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 10vw;
        color: white;
        font-size: calc((8vh + 8vw)/2);
        /*background-color: aliceblue;*/
    }
    .icon:hover {
        animation: spin 2s;
    }

.aboutme-page2-title {
    position: absolute;
    font-family: monospace, Monaco, monospace;
    font-size: calc((4.7vh + 4.7vw)/2);
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%);
    top: 36vh;
    white-space: nowrap;

    z-index: 1;
}

/*
#to-page1 {
    position: absolute;
    font-size: calc((3vh + 3vw)/2);
    left: 26vw;
    top: 17.5vh;
    color: rgb(136, 136, 136);
    transition: 0.3s;
}
    #to-page1:hover {
        color: rgb(255, 230, 0);
        cursor: pointer;
        transform: translateX(-7px);
    }

#to-page3 {
    position: absolute;
    font-size: calc((3vh + 3vw)/2);
    left: 93vw;
    top: 50%;
    color: rgb(136, 136, 136);
    transition: 0.3s;
}
    #to-page3:hover {
        color: rgb(255, 255, 255);
        cursor: pointer;
        transform: translateX(7px),;
    }
*/

/* --------------------------------------------------------------------------------- Page 3 */
/*
#aboutme-page3 {
    position: absolute;
    top: 190vh;
    opacity: 1;
}
*/