body {
    top: 0px !important;
    color: white !important;
}
  
html, body {
    background-color: #000;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    margin:     0; 
    height:     100%;
    overflow:   hidden; 
    /*position:   fixed; //this breaks iOS and Chrome WebXR emulator */ 
}
/* --------------------------------------------------------------------------------- 3D Fiber */
.fiber {
    float: right;
    padding-right: 50vw;
}

/* --------------------------------------------------------------------------------- Site Title */
#site-title {
    position: absolute;
    color: white;
    left: 43vw;
    font-size: 4.5rem;
    font-family: "Abhaya Libre", serif;

}

/* --------------------------------------------------------------------------------- Music Player */
.music-player {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    right: 20px;
    bottom: 20px;
    text-align: center;
    width: 350px;
}
#controls {
    display: flex;
    color: #dbfffe;
    flex-direction: row;
}
    #controls > div > i {
        margin-right: 10px;
        margin-top: -10px;
        font-size: 20px;
    }
    #controls > div:hover {
        color: #ffffff;
        cursor: pointer;
    }
    #controls > div:active {
        color: #242424;
        cursor: pointer;
    }
#player-progress {
    width: 100%;
    height: 6px;
    background: rgb(255, 255, 255);
    border-radius: 999px;
    cursor: pointer;


    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
    #player-progress::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #000;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 8px solid rgb(180, 244, 255);
        box-shadow: 0 5px 5px rgba(180, 244, 255, 22);
    }
    #player-progress::-moz-range-thumb {
        -moz-appearance: none;
        background: #000;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 8px solid rgb(180, 244, 255);
        box-shadow: 0 5px 5px rgba(180, 244, 255, 22);
    }
    

/* --------------------------------------------------------------------------------- Loading screen */
.loading-screen {
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 105;
    align-content: flex-start;
  }
  
    #loading-icon {
      position: relative;
      /* top: 10vh; */
      max-width: 10rem;
      min-width: 5rem;
      margin: 3rem 1rem 8rem 1rem;
    }
  
    .loading-screen > label {
      /* position: relative; */
      margin: 0.5rem;
      font-size: 1.4rem;
      top: 58vh;
      color: #fff;
      font-family: "Helvetica", monospace;
    }
  
    #loading-disclaimer {
      position: absolute;
      font-size: 0.6rem;
      text-align: center;
      bottom: 10px;
      margin-left: 5px; /* Also set in mainpage.js */
      margin-right: 5px; /* Also set in mainpage.js */
      color: #474747;
      font-family: "Helvetica", monospace;
    }
  
    #loading-bar[value] {
      /*position: absolute;*/
      top: 62vh;
      width: 85%;
      margin: 1rem 1rem 3rem 1rem;
      height: 0.4rem;
      line-height: 0.4rem;
      border: none;
      border-radius: 0.2rem;
  
      background: black;
  
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  
    #loading-bar[value]::-webkit-progress-value {
      background: linear-gradient(120deg, #ffffff 28%, #ffffff 42%, #ffffff  56%, #ffffff 70%, #ffffff 84%, #ffffff 95%);
      border-radius: 0.2rem;
    }
    #loading-bar[value]::-webkit-progress-bar {
      background: black;
      border-radius: 0.2rem;
    }
  
    #loading-bar[value]::-moz-progress-bar {
      background: linear-gradient(120deg, #ffffff 28%, #ffffff 42%, #ffffff 56%, #ffffff 70%, #ffffff 84%, #ffffff 95%);
      border-radius: 0.2rem;
    }