/* --------------------------------------------------------------------------------- General */

body {
    top: 0px !important;
    color: white !important;
    overflow-y:  hidden; 
    overflow-x: hidden;
    font-family: "Lucida Console", Monaco, monospace;

    z-index: 1;
}
  
html, body {
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1)), url(/textures/env_map/guangzhou.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    margin:     0; 
    height:     100%;
    
    z-index: 1;
}

/* Custom scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    z-index: 1;
    position: fixed;
    width: 10px;
}
    body::-webkit-scrollbar-track {
        background: #4e4e4e;
    }
    body::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 999px;
    }
    body::-webkit-scrollbar-thumb:hover {
        background: rgb(192, 192, 192);
    }


/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* For icon animation */
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* Hyperlink color */
a {
    transition: 0.3s;
}
a:link {
    color:rgb(255, 255, 255);
}
a:visited {
    color:rgb(139, 139, 139);
}
a:hover {
    color:rgb(188, 201, 0);
}
a:active {
    color:rgb(75, 107, 0);
}

/* --------------------------------------------------------------------------------- Site credit at bottom */
#site-credit {
    position: fixed;
    color: rgb(139, 139, 139);
    bottom: 1.9%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
@media only screen and (max-width: 800px) {
    #site-credit {
        position: fixed;
        color: rgb(139, 139, 139);
        bottom: 1.9%;
        left: 2%;
        transform: translateX(-1%);
        z-index: 1;
    }
}

/* Disclaimer in case site won't load */
#loading-disclaimer {
    position: fixed;
    color: rgb(139, 139, 139);
    bottom: 1.9%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    visibility: hidden;
}
@media only screen and (max-width: 800px) {
    #loading-disclaimer {
        position: fixed;
        color: rgb(139, 139, 139);
        bottom: 1.9%;
        left: 2%;
        transform: translateX(-1%);
        z-index: 1;

        visibility: hidden;
    }
    
}

