#blog-window {
    transition: 0s;

    position: absolute;
    left: 520px;
    top: 60px;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(37, 37, 37, 0.774);

    height: 720px;
    width: 1200px;

    z-index: 3;

    border-radius: 12px;

    overflow: hidden;

    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
}

#blog-windowheader {
    position: absolute;
    left: 00px;
    top: 00px;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgb(31, 31, 31);

    height: 30px;
    width: inherit;

    z-index: 1;

    border-radius: 0px;

    overflow: hidden;
}
    #blog-close {
        position: absolute;
        right: 4px;
        top: 4px;
        
        color: gray;
    }
    #blog-minimize {
        position: absolute;
        right: 20px;
        top: 4px;
        
        color: gray;
    }
        #blog-close:hover, #blog-minimize:hover {
            color: rgb(255, 255, 255);
        }
    #blog-ico {
        position: absolute;
        left: 6px;
        top: 4px;
        
        color: rgb(255, 255, 255);
    }
    #blog-name {
        position: absolute;
        top: 4px;

        width: inherit;

        text-align: center;
        font-size: small;
        color: rgb(100, 100, 100);
    }

#blog-area {
    transition: 1.4s;

    background-color: rgba(0, 0, 0, 0);

    position: absolute;
    left: 0px;
    right: 0px;
    top: 5.1vh;

    height: 100vh; 
    width: 60vw; 

    opacity: 1; /*Set in MyBlogs.js*/

    z-index: 1;

    pointer-events: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}
    #blog-container > a {
        color: #fff;
        transition: 0.1s;
        cursor: pointer;
    }
    #blog-container > a:active {
        color: rgb(255, 255, 255);
    }

.blog-box {
    transition: 0.3s;
    
    border-radius: 10px;

    width: 56.6vw;
    height: 220px;

    margin-top: 30px;

    background-color: #29292980;
    opacity: 100%;

    float: left;

    border: solid 0px #68686800;

    overflow: hidden;

    display:inline;
    white-space: nowrap;
    
}
    .blog-box:hover {
        border: solid 0px #ffffff;
        background-color: #4e4e4e80;
    }
    .blog-box:active {
        border: solid 0px #a200ff;
        background-color: #23241f80;
    }
    .blog-thumb {
        /*border: #ffffff 1px solid;*/

        width: 330px;
        height: 220px;

        
    }
    .blog-title {
        position: absolute;

        left: 402px;
        margin-top: 14px;

        display:inline;
        float:left;

        font-size: 28px;
        font-weight: bold;

        white-space: normal;
    }
        @media screen and (max-width: 1524px) {
            .blog-title {
                position: absolute;
        
                left: 402px;
                margin-top: 14px;
        
                display:inline;
                float:left;

                width: 24vw;
        
                font-size: 28px;
                font-weight: bold;
        
                white-space: normal;
            }
        }
    .blog-date {
        position: absolute;

        left: 402px;
        margin-top: 60px;

        display:inline;
        float:left;

        font-size: 15px;
        font-weight: light;

        color:rgb(136, 136, 136)
    }
        @media screen and (max-width: 1524px) {
            .blog-date {
                position: absolute;
        
                left: 402px;
                margin-top: 85px;
        
                display:inline;
                float:left;
        
                font-size: 15px;
                font-weight: light;
        
                color:rgb(136, 136, 136)
            }
        }
    .blog-preview {
        /*border: #ffffff 1px solid;*/

        position: absolute;

        left: 402px;
        margin-top: 98px;

        width: 36vw;
        height: 150px;

        display:inline;
        float:left;

        font-size: 17px;

        white-space: normal;
    }
        @media screen and (max-width: 1777px) {
            .blog-preview {
                /*border: #ffffff 1px solid;*/
        
                position: absolute;
        
                left: 402px;
                margin-top: 98px;
        
                width: 30vw;
                height: 150px;
        
                display:inline;
                float:left;
        
                font-size: 17px;
        
                white-space: normal;
            }
        }
        @media screen and (max-width: 1524px) {
            .blog-preview {
                /*border: #ffffff 1px solid;*/
        
                position: absolute;
        
                left: 402px;
                margin-top: 110px;
        
                width: 30vw;
                height: 150px;
        
                display:inline;
                float:left;
        
                font-size: 17px;
        
                white-space: normal;
            }
        }
    .blog-read-more {
        position: absolute;

        right: 50px;
        margin-top: 190px;

        display:inline;
        float:right;

        font-size: 15px;
        font-weight: light;

        color:rgb(211, 211, 211);

        text-decoration-line: underline;
    }
        @media screen and (max-width: 1524px) {
            .blog-read-more {
                opacity: 0;
            }
        }

#no-blog {
    transition: 1.4s;

    height: 2vh; /*Set in MyProject.js*/
    width: 21vw; /*Set in MyProject.js*/

    position: absolute;
    left: 5.5vw;
    right: 5.5vw;
    top: 50vh;
    margin: 0 auto;

    opacity: 0%;

    z-index: 1;
}

zero-md {

    position: absolute;
    left: 20.5vw;
    right: 20.5vw;
    top: 10vh;
    margin: 0 auto;

    opacity: 100%;

    z-index: 1;
    
}