#blog-window {
    transition: 0s;

    position: absolute;
    left: 199px;
    top: 25px;

    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    /*background-color: rgba(24, 24, 24, 1);*/
    background-image: linear-gradient(to right, rgb(27, 0, 58) , rgb(0, 25, 53));

    height: 720px;
    width: 1200px;

    z-index: 3;

    overflow: hidden;

    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
}

#blog-windowheader {
    position: absolute;
    left: 00px;
    top: 00px;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgb(31, 31, 31);

    height: 60px;
    width: inherit;

    z-index: 1;

    border-radius: 0px;

    overflow: hidden;
}
    #blog-close {
        position: absolute;
        right: 4px;
        top: 4px;
        
        color: gray;
    }
    #blog-minimize {
        position: absolute;
        right: 20px;
        top: 4px;
        
        color: gray;
    }
        #blog-close:hover, #blog-minimize:hover {
            color: rgb(255, 255, 255);
        }
    #blog-ico {
        position: absolute;
        left: 6px;
        top: 4px;
        
        color: rgb(255, 255, 255);
    }
    #blog-name {
        position: absolute;
        top: 4px;

        width: inherit;

        text-align: center;
        font-size: small;
        color: rgb(100, 100, 100);
    }

#blog-area {
    transition: 1.4s;

    background-color: rgba(0, 0, 0, 0);

    position: absolute;
    left: 0px;
    top: 60px;

    height: 660px; 
    width: inherit; 

    opacity: 1; /*Set in MyBlogs.js*/

    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}
    #blog-area > a {
        color: #fff;
        transition: 0.1s;
        cursor: pointer;
    }
    #blog-area > a:active {
        color: rgb(255, 255, 255);
    }

#blog-header-left {
    position: absolute;
    top: 30px;
    left: 10px;

    font-size: 20px;
    color: rgb(70, 70, 70);
}

#blog-search > input {
    position: absolute;
    top: 30px;
    left: 50px;

    width: 180px;
    height: 20px;

    background-color: rgb(24, 24, 24);

    border: 0px;
    border-radius: 999px;

    color: white;
    text-align: center;

    z-index: 1;
}

#blog-header-right {
    position: absolute;
    top: 30px;
    right: 10px;

    font-size: 20px;
    color: rgb(70, 70, 70);
}

/**/
.blog-box {
    transition: 0.3s;
    
    border-radius: 10px;

    width: 1100px;
    height: 185px;

    margin-top: 30px;

    background-color: rgb(31, 31, 31);
    opacity: 100%;

    float: left;

    border: solid 0px #68686800;

    overflow: hidden;

    display:inline;
    white-space: nowrap;
    
}
    .blog-box:hover {
        border: solid 0px #8400ff;
        background-color: #2c2c2c80;
    }
    .blog-box:active {
        border: solid 0px #a200ff;
        background-color: #35008b;
    }
    .blog-thumb {
        /*border: #ffffff 1px solid;*/

        width: 280px;
        height: auto;

        
    }
    .blog-title {
        position: absolute;

        left: 352px;
        margin-top: 14px;

        display:inline;
        float:left;

        font-size: 25px;
        font-weight: bold;

        white-space: normal;
    }
    .blog-date {
        position: absolute;

        left: 352px;
        margin-top: 50px;

        display:inline;
        float:left;

        font-size: 13px;
        font-weight: light;

        color:rgb(136, 136, 136)
    }
    .blog-preview {
        /*border: #ffffff 1px solid;*/

        position: absolute;

        left: 352px;
        margin-top: 80px;

        width: 770px;
        height: 150px;

        display:inline;
        float:left;

        font-size: 14.5px;

        white-space: normal;
    }
    .blog-read-more {
        position: absolute;

        top: 190px;
        right: 70px;

        display:inline;
        float:right;

        font-size: 15px;
        font-weight: light;

        color:rgb(211, 211, 211);

        text-decoration-line: underline;
    }

zero-md {

    position: absolute;
    left: 20.5vw;
    right: 20.5vw;
    top: 10vh;
    margin: 0 auto;

    opacity: 100%;

    z-index: 1;
    
}