

#project-window {
    transition: 0s;

    position: absolute;
    left: 663px;
    top: 102px;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(24, 24, 24, 0.733);

    height: 720px;
    width: 1200px;

    z-index: 3;

    border-radius: 12px;

    overflow: hidden;

    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
}

#project-windowheader {
    position: absolute;
    left: 00px;
    top: 00px;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgb(31, 31, 31);

    height: 60px;
    width: inherit;

    z-index: 50;

    border-radius: 0px;

    overflow: hidden;
}
    #project-close {
        position: absolute;
        right: 4px;
        top: 4px;
        
        color: gray;
    }
    #project-minimize {
        position: absolute;
        right: 20px;
        top: 4px;
        
        color: gray;
    }
        #project-close:hover, #project-minimize:hover {
            color: rgb(255, 255, 255);
        }
    #project-ico {
        position: absolute;
        left: 6px;
        top: 4px;
        
        color: rgb(255, 255, 255);
    }
    #project-name {
        position: absolute;
        top: 4px;

        width: inherit;

        text-align: center;
        font-size: small;
        color: rgb(100, 100, 100);
    }



#project-header-left {
    position: absolute;
    top: 30px;
    left: 10px;

    font-size: 20px;
    color: rgb(70, 70, 70);
}

#project-search > input {
    position: absolute;
    top: 30px;
    left: 510px;

    width: 180px;
    height: 20px;

    background-color: rgb(24, 24, 24);

    border: 0px;
    border-radius: 999px;

    color: white;

    z-index: 50;

    text-align: center;
}

#project-header-right {
    position: absolute;
    top: 30px;
    right: 10px;

    font-size: 20px;
    color: rgb(70, 70, 70);
}

#project-area {
    transition: 1.4s;

    height: 660px; 
    max-width: 1200px; 

    position: absolute;
    left: 0px;
    bottom: 0px; 
    margin: 0 auto;

    background: #1f1f1f00;

    border-radius: 30px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    row-gap: 30px;
    /*column-gap: 30px;*/

    opacity: 1;

    z-index: 1;

    overflow-y: scroll;
    overflow-x: hidden;

    
}
    #project-area::-webkit-scrollbar {
        width: 7px;
    }
    #project-area::-webkit-scrollbar-track-piece {
        background-color: rgba(255, 255, 255, 0);
        border-radius: 999px;
    }
    #project-area::-webkit-scrollbar-thumb:vertical {
        transition: 0.25s;
        background-color: rgba(173, 173, 173, 0.521);
        border-radius: 999px;
    }
        #project-area::-webkit-scrollbar-thumb:vertical:hover {
            background-color: rgb(75, 75, 75);
            border-radius: 999px;
        }

.project-item {
    transition: 0.2s;

    margin-top: 12px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 15px;

    border: 0px solid rgb(128, 128, 128);
    float: left;
    width: 420px;
    height: 370px;

    border-radius: 10px;

    overflow: hidden;

    background-color: rgb(27, 27, 27);
    
    flex: 40%;
}
.project-item:hover {
    border: 0px solid #ccc;
    background-color: rgb(0, 84, 180);
}
.project-item:active {
    border: 0px solid rgb(162, 0, 255);
    background-color: rgb(74, 0, 143);
}
    

    .project-item img {
        transition: 0.8s;

        width: 420px;
        height: auto;

        border-radius: 10px;

    }
    .project-item img:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
       
    }

    .project-item .desc {
        height:75px;

        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;

        text-align: center;
        font-size: 1.5vh;
    }

    .project-item .tools {
        position: relative;
        display: flex;
        justify-content: right;
        opacity: 20%;
        bottom: 1px;
    }

    .project-item .tools img{
        width: 30px;
        height: 30px;

        padding-bottom: 0px;
        padding-left: 8px;
        padding-right: 8px;    
    }

#more-project {
    position: fixed;
    right: 40px;
    bottom: 30px;

    z-index: 50;
}
#project-experiment {
    position: fixed;
    right: 40px;;
    bottom: 60px;

    z-index: 50;
}

#project-page-bottom {
    position: fixed;

    top: 1vh;
}