#myproject {
    pointer-events: none;
    visibility: hidden;
    z-index: 1;
}

#project-border {
    transition: 1.4s;

    height: 1vh; /*Set in MyProject.js*/
    width: 1vw; /*Set in MyProject.js*/

    position: absolute;
    left: 1.5vw;
    right: 1.5vw;
    top: 50vh;
    margin: 0 auto;

    border-radius: 30px; /*Set in MyProject.js*/
    border-color: white;
    border-width: 1px;
    border-style: solid;

    z-index: 1;
}
    @media screen and (max-height: 906px) { /* Hide border when projects go out of bound*/
        #project-border {
            opacity: 0%;
        }
    }
    @media screen and (max-width: 1488px) { /* Hide border when projects go out of bound*/
        #project-border {
            opacity: 0%;
        }
    }
#project-container {
    transition: 1.4s;

    height: 1vh; /*Set in MyProject.js*/
    width: 1vw; /*Set in MyProject.js*/

    position: absolute;
    left: 1.5vw;
    right: 1.5vw;
    top: 50vh; 
    margin: 0 auto;

    background: #1f1f1fab;

    border-radius: 30px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    row-gap: 1px;
    /*column-gap: 30px;*/

    opacity: 0%;

    z-index: 1;
}

.project-item {
    transition: 0.2s;

    margin-top: 12px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0px;

    border: 0px solid rgb(128, 128, 128);
    float: left;
    width: 420px;
    height: 370px;

    border-radius: 10px;

    overflow: hidden;

    background-color: rgb(34, 34, 34);
    
}
.project-item:hover {
    border: 0px solid #ccc;
    background-color: rgb(49, 49, 49);
}
.project-item:active {
    border: 0px solid rgb(162, 0, 255);
    background-color: rgb(24, 24, 24);
}
    

    .project-item img {
        transition: 0.8s;

        width: 420px;
        height: 236px;

        border-radius: 10px;

    }
    .project-item img:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
       
    }

    .project-item .desc {
        height:75px;

        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;

        text-align: center;
        font-size: smaller;
    }

    .project-item .tools {
        display: flex;

        justify-content: right;

        opacity: 20%;

        bottom: 1px;
    }

    .project-item .tools img{
        width: 30px;
        height: 30px;

        padding-bottom: 0px;
        padding-left: 8px;
        padding-right: 8px;

        
    }

#more-project {
    position: fixed;
    right: 80px;
    bottom: 100px;
}

#project-page-bottom {
    position: fixed;

    top: 1vh;
}