#myproject {
    pointer-events: none;
    visibility: hidden;
}

#project-border {
    transition: 1.4s;

    height: 1vh; /*Set in MyProject.js*/
    width: 1vw; /*Set in MyProject.js*/

    position: absolute;
    left: 1.5vw;
    right: 1.5vw;
    top: 50vh;
    margin: 0 auto;

    border-radius: 30px;
    border-color: white;
    border: 1px;
    border-style: solid;
}
#project-container {
    transition: 1.4s;

    height: 1vh; /*Set in MyProject.js*/
    width: 1vw; /*Set in MyProject.js*/

    position: absolute;
    left: 1.5vw;
    right: 1.5vw;
    top: 50vh; 
    margin: 0 auto;

    background: black;
    opacity: 40%;

    border-radius: 30px;
}
