/* --------------------------------------------------------------------------------- 3D Fiber Lamp */
.fiber {
    float: right;
    /*padding-right: 50vw;*/
    padding-right: 100vw;
    padding-top: 50vh;
    transition: 4s;
    z-index: 1;

}
