#back-button {
    position: fixed;
    font-size: 3.2rem;
    left: 10px;
    top: 6px;
    transition: 0.3s;
    opacity: 0.5;
    display: none;
    z-index: 1;
}
    #back-button:hover {
        opacity: 1;
        cursor: pointer;
    }