/* --------------------------------------------------------------------------------- For windowed version */
#social-window {
    transition: 0s;

    position: absolute;
    left: 820px;
    top: 60px;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(37, 37, 37, 0.774);

    height: 720px;
    width: 750px;

    z-index: 2;

    border-radius: 12px;

    overflow: hidden;

    opacity: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
}

#social-windowheader {
    position: absolute;
    left: 00px;
    top: 00px;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgb(31, 31, 31);

    height: 30px;
    width: inherit;

    z-index: 1;

    border-radius: 0px;

    overflow: hidden;
}
    #social-close {
        position: absolute;
        right: 4px;
        top: 4px;
        
        color: gray;
    }
    #social-minimize {
        position: absolute;
        right: 20px;
        top: 4px;
        
        color: gray;
    }
        #social-close:hover, #social-minimize:hover {
            color: rgb(255, 255, 255);
        }
    #social-ico {
        position: absolute;
        left: 6px;
        top: 4px;
        
        color: rgb(255, 255, 255);
    }
    #social-name {
        position: absolute;
        top: 4px;

        width: inherit;

        text-align: center;
        font-size: small;
        color: rgb(100, 100, 100);
    }



/* --------------------------------------------------------------------------------- Avatar & Name*/
#contact-avatar {
    position: absolute;

    border-radius: 999px;
    height: 120px;

    top: 45px;
    left: 35px;
}
#contact-name {
    position: absolute;

    top: 76px;
    left: 170px;

    font-size: 20px;
    font-weight:800;

}

/* --------------------------------------------------------------------------------- Separation line */
#sep-name {
    position: absolute;
    top: 185px;
    left: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
#sep-line {
    position: absolute;
    top: 220px;
    left: 28px;

    width: 320px;

    border: solid 1px rgb(139, 50, 255);
}

/* --------------------------------------------------------------------------------- Social Media links */
#contact-info {
    font-size: 2.1rem;
    position: absolute;

    left: 40px;
    top: 260px;

    display: flex;
    flex-direction: column;

    color: rgb(73, 73, 73);
    z-index: 1;
}

#contact-info > a{
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    transition: 0.3s;
    text-decoration: none;
}

#contact-info > a:hover{
    cursor: pointer;
    transform: translateX(5px);
}
#contact-info > a:active{
    transform: translateX(10px);
    color: rgb(132, 0, 255);
}

#contact-info > a > span {
    font-size: 15px;
    
}

/* --------------------------------------------------------------------------------- Inquiry form */
#inquiry-form{
    position: absolute;
    top: 50px;
    right: 40px;

    opacity: 1;

    height: inherit;
    width: 310px;

    display: flex;
    flex-direction: column;
}

#inquiry-form > sectitle {
    color: rgb(255, 255, 255);
    font-size: 18px;
    
    margin-bottom: 25px;
    
}

#inquiry-form-sep {
    position: absolute;
    top: 20px;
    right: 0px;

    width: 310px;

    border: blueviolet 1px solid;

    opacity: 1;
}

#inquiry-form > label{
    margin-bottom: 5px;
}

#inquiry-form > .input-box{
    margin-bottom: 15px;
    
    height: 40px;

    background-color: rgba(0, 0, 0, 0); 

    border: solid rgb(255, 255, 255) 1px;
    border-radius: 5px;

    color: white;
    font-family: monospace;
}

#inquiry-form > textarea{
    margin-bottom: 15px;
    
    height: 100px;

    background-color: rgba(0, 0, 0, 0); 

    border: solid rgb(255, 255, 255) 1px;
    border-radius: 5px;

    color: white;
    font-family: monospace;
}
    #inquiry-form > textarea::-webkit-scrollbar {
        width: 7px;
    }
    #inquiry-form > textarea::-webkit-scrollbar-track-piece {
        background-color: rgba(255, 255, 255, 0);
        border-radius: 999px;
    }
    #inquiry-form > textarea::-webkit-scrollbar-thumb:vertical {
        transition: 0.25s;
        background-color: rgba(173, 173, 173, 0.521);
        border-radius: 999px;
    }
    #inquiry-form > textarea::-webkit-scrollbar-thumb:vertical:hover {
            background-color: rgb(75, 75, 75);
            border-radius: 999px;
        }
        #inquiry-form > textarea::-webkit-scrollbar {
            width: 7px;
        }

#inquiry-submit {
    transition: 0.25s;

    margin-bottom: 15px;
    
    height: 40px;
    width: 110px;

    background-color: rgb(111, 0, 255); 

    border: solid rgb(255, 255, 255) 0px;
    border-radius: 5px;

    color: white;
    font-family: monospace;
    font-weight: bolder;
}
    #inquiry-submit:hover {
        background-color: rgb(255, 255, 255); 
        color:black;
        cursor: pointer;
    }
    #inquiry-submit:active {
        background-color: rgb(43, 43, 43); 
        color:rgb(255, 255, 255);
        cursor: pointer;
    }
