#start-menu {
    transition: 0.2s;

    position: absolute;
    bottom: 0px; /*Set in js/helper/UI/contactinfo.js*/
    left: 5px;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(31, 31, 31, 0.705);

    height: 500px;
    width: 500px;

    border-radius: 20px;

    opacity: 0;

    z-index: 50;
}

#sep-name {
    position: fixed;
    top: 110px;
    left: 20px;
    font-size: 18px;
    color: rgb(95, 95, 95);
}
#sep-line {
    position: fixed;
    top: 150px;
    left: 8px;

    width: 480px;

    border: solid 1px rgb(59, 59, 59);
}

#site-credit {
    visibility: hidden;
}

/* --------------------------------------------------------------------------------- Avatar & Name*/
#contact-avatar {
    position: fixed;

    border-radius: 999px;
    height: 80px;

    top: 15px;
    left: 15px;
}
#contact-name {
    position: fixed;

    top: 25px;
    left: 160px;

    font-size: 20px;
    font-weight:800;

}

/* --------------------------------------------------------------------------------- Contact info */
#contact-info {
    font-size: 2.1rem;
    position: fixed;

    left: 20px;
    top: 180px;

    display: flex;
    flex-direction: column;

    color: rgb(73, 73, 73);
    z-index: 1;
}
@media only screen and (max-width: 560px) {
    #contact-info {
        font-size: 2.1rem;
        position: fixed;
        left: 1vw;
        bottom: 5vh;
        color: rgb(73, 73, 73);
        z-index: 1;
    }
}

#contact-info > a{
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    transition: 0.3s;
    text-decoration: none;
}

#contact-info > a:hover{
    cursor: pointer;
    transform: translateX(5px);
}
#contact-info > a:active{
    transform: translateX(10px);
    color: rgb(36, 36, 36);
}

#contact-info > a > span {
    font-size: 15px;
    
}


