/* --------------------------------------------------------------------------------- Fullscreen button */
#fullscreen {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 3.2rem;
    right: 10px;
    top: 6px;
    transition: 0.3s;
}
#fullscreen-toggle {
    transition: 0.3s;
    opacity: 0;
}
#fullscreen-toggle:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
    cursor: pointer;
}