@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* --------------------------------------------------------------------------------- Music Player */
#player-window {
    position: fixed;
    right: 120px;
    bottom: 0px;

    width: 390px;
    height: 180px;

    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(24, 24, 24, 0.842);

    transition: 0.25s;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    opacity: 0;
    pointer-events: none;

    z-index: 99;
}
.music-player {
    background: rgba(34, 34, 34, 0);

    width: 350px;
    
    
    text-align: center;
    
    opacity: 1;
    transition: 0.3s;

    
}
    .music-player:hover {
        opacity: 1;
    }

#controls {
    display: flex;
    color: #c0c0c0;
    flex-direction: row;
    transition: 0.25s;
}
    #controls > div > ion-icon {
        margin-right: 10px;
        margin-top: -4px;
        font-size: 22px;
        transition: 0.2s;
    }
    #controls > div:hover {
        color: #ffffff;
        cursor: pointer;
    }
    #controls > div:active {
        color: #242424;
        cursor: pointer;
    }
#player-progress {
    width: 100%;
    height: 6px;
    background: #000;
    border-width: 1px;
    border-color: rgb(179, 179, 179);
    border-style: solid;
    border-radius: 999px;
    cursor: pointer;


    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
    #player-progress::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #000;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 8px solid rgb(255, 255, 255);
        box-shadow: 0 5px 5px rgba(255, 255, 255, 22);
        transition: 0.25s;
    } 
        #player-progress::-webkit-slider-thumb:hover {
            -webkit-appearance: none;
            background: #000;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 8px solid rgb(98, 0, 255);
            box-shadow: 0 5px 5px rgba(98, 0, 255, 22);
        } 

    #player-progress::-moz-range-thumb {
        -moz-appearance: none;
        background: #000;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 8px solid rgb(255, 255, 255);
        box-shadow: 0 5px 5px rgba(255, 255, 255, 22);
        transition: 0.25s;
    }
        #player-progress::-moz-range-thumb:hover {
            -moz-appearance: none;
            background: #000;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 8px solid rgb(98, 0, 255);
            box-shadow: 0 5px 5px rgba(98, 0, 255, 22);
        }
    
#album-cover {
    width: 100px;
    height: 100px;

    border-radius:12px;
    border-style: solid;
    border-width: 0px;
    border-color:rgb(255, 255, 255);
    
    overflow: hidden;
    margin-bottom: 25px;
}
#song-info {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 14px;
}
#song-author {
    margin-bottom: 20px;
    margin-left: 15px;
}
    #song-author > h4 {
        margin: 0px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    #song-author > small {
        color: gray;
        font-weight: 500;
    }