/* --------------------------------------------------------------------------------- Music Player */
.music-player {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    left: 20px;
    bottom: 20px;
    text-align: center;
    width: 350px;
    opacity: 0;
    transition: 0.3s;
}
    .music-player:hover {
        opacity: 1;
    }

#controls {
    display: flex;
    color: #c0c0c0;
    flex-direction: row;
}
    #controls > div > ion-icon {
        margin-right: 10px;
        margin-top: -4px;
        font-size: 22px;
    }
    #controls > div:hover {
        color: #ffffff;
        cursor: pointer;
    }
    #controls > div:active {
        color: #242424;
        cursor: pointer;
    }
#player-progress {
    width: 100%;
    height: 6px;
    background: #000;
    border-width: 1px;
    border-color: rgb(179, 179, 179);
    border-style: solid;
    border-radius: 999px;
    cursor: pointer;


    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
    #player-progress::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #000;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 8px solid rgb(255, 255, 255);
        box-shadow: 0 5px 5px rgba(255, 255, 255, 22);
    } 

    #player-progress::-moz-range-thumb {
        -moz-appearance: none;
        background: #000;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 8px solid rgb(255, 255, 255);
        box-shadow: 0 5px 5px rgba(255, 255, 255, 22);
    }
    
#album-cover {
    width: 120px;
    border-radius:0px;
    border-style: solid;
    border-color:rgb(255, 255, 255);
    overflow: hidden;
    margin-bottom: 25px;
}
#song-info {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(170, 170, 170);
    text-align: left;
}
#song-author {
    margin-bottom: 20px;
    margin-left: 15px;
}
    #song-author > h4 {
        margin: 0px;
        margin-bottom: 20px;
        margin-top: 15px;
    }