/* --------------------------------------------------------------------------------- Tooltip (Time)*/
#time-tooltip-container { 
    position: absolute;
    bottom: 0;
    right: 0;

    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 30px;

    border-radius: 999px;

    z-index: 5;
}
#time-tooltip { 
    transition: 0.22s;

    position: absolute;
    bottom: 55px;
    right: 2px;

    border-radius: 999px;
    background-color: rgb(29, 29, 29);

    width: 160px;
    height: 30px;

    opacity: 0;

    z-index: 5;
}
/* --------------------------------------------------------------------------------- Tooltip (Home) */
#home-button-tooltip-container { 
    position: absolute;
    bottom: 0px;
    left: 0px;

    font-size: 15px;
    text-align: center;
    line-height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    border-radius: 999px;

    z-index: 5;
}
#home-button-tooltip { 
    transition: 0.22s;

    position: absolute;
    bottom: 55px;
    left: 0px;

    border-radius: 999px;
    background-color: rgb(27, 27, 27);

    width: 200px;
    height: 30px;

    opacity: 0;

    z-index: 5;
}
/* --------------------------------------------------------------------------------- Tooltip (Middle icons) */
#terminal-tooltip-container, #social-tooltip-container, #project-tooltip-container, #blog-tooltip-container { 
    position: absolute;
    bottom: 0px;
    left: 46%;

    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 30px;

    border-radius: 999px;

    z-index: 5;
}
#terminal-tooltip, #social-tooltip, #project-tooltip, #blog-tooltip{ 
    transition: 0.22s;

    position: absolute;
    bottom: 55px;

    border-radius: 999px;
    background-color: rgb(26, 26, 26);

    width: 200px;
    height: 30px;

    opacity: 0;

    z-index: 5;
}